li {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;
}

li input[type="checkbox"] {
  aspect-ratio: 1;
  width: 20px;
}

li input[type="text"] {
  height: 40px;
  display: flex;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  color: #7e7e7e;
  flex: 1;
  font-size: 1em;
  font-family: Pretendard;
}
/* 수정버튼을 눌렀을 때 적용됨 */

li input[type="text"]:hover {
  border: 1px solid #1d8700;
  transition: 0.3s all;
}

li span {
  height: 40px;
  text-align: left;
  flex: 1;
  padding: 0 13px;
  align-content: center;
}

.edit {
  height: 40px;
  align-items: center;
  font-size: 18px;
  display: flex;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #b4b4b4;
  background-color: #fff;
  /* transparent - 투명도
  이기 때문에 버튼의 보더값을 안보이게 하고 싶다면 이 속성을 사용하면 된다 */
  color: #b0b0b0;
  cursor: pointer;
}

.edit:hover {
  display: flex;
  font-size: 18px;
  background-color: #1d8700;
  color: #fff;
  transition: 0.2s all;
  border: 1px solid transparent;
}

.delete {
  height: 40px;
  align-items: center;
  display: flex;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ff6d6d;
  color: #ff0000;
  background-color: #fff;
  cursor: pointer;
}

.delete:hover {
  background-color: #ff2929;
  transition: 0.2s all;
  color: #fff;
}
